<ul id="sidebar-order" class="collapse nav nav-pills nav-stacked" data-hook="admin_product_sub_tabs">
 <%= tab *Spree::BackendConfiguration::ORDER_TABS %>
	<li class="sidebar-menu-item"><a href="/admin/orders/pending_orders">Pending Orders</a></li>
	<li class="sidebar-menu-item"><a href="/admin/orders/completed_orders">Completed Orders</a></li>
</ul>
